/*------CSS VARIABLES------*/
:root {
    --light-grey: #D3D3D3;
    --dark-grey: #4b4a4a;
    --link-color: #948080;
    --link-color-hover: #534747;
}

/*------DOCUMENT------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 1180px;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main-title,
.sub-title {
    display: block;
}

a:link,
a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--link-color-hover);
}

/*------HERO------*/

.hero {
    height: 100vh;
    text-align: center;
}

.hero h1 .main-title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.hero h1 .subtitle {
    font-weight: 300;
    letter-spacing: .15rem;
}

/*------DESCRIPTION------*/

.site-description {
    height: 30rem;
    text-align: center;
    border-top: var(--light-grey) 1px solid;
}

.site-description h2 {
    margin-bottom: 2rem;
}

.site-description p {
    line-height: 1.5;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/*-----------DEFINITION-----------*/

.definition {
    height: 20rem;
    background: var(--dark-grey);
    color: var(--light-grey);
}

.definition h2 {
    margin-bottom: .8rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.definition ol {
    line-height: 1.5;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-left: 1rem;
}

/*-----------THREE STEPS-----------*/
.three-steps {
    height: auto;
    margin: 5rem;
    padding: 5rem;
    border: var(--light-grey) 1px solid;
    display: grid;
    grid-template: 4rem 1fr / repeat(3, 1fr);
    grid-gap: 2rem;
}

.three-steps-heading {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    align-self: end;
    font-size: 2.6rem;
    font-weight: 300;
}

.three-steps-column h3 {
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.three-steps-column {
    justify-self: center;
    font-size: 1.2rem;
    line-height: 1.3
}

/*------STEP SETUP------*/

.step {
    padding-top: 3rem;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 5px 0 10px 10px;
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 300;
    background: #fff;
    border-bottom: var(--light-grey) 2px solid;
}

/*------STEP ONE------*/
.step-one h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.step-one p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.step-one-1 {
    height: auto;
    padding: 2rem;
    text-align: center;
    background: var(--light-grey);
    margin-bottom: 5rem;
}

.step-one-2 {
    display: grid;
    grid-template: 1fr repeat(3, 3fr) 1fr / 20% 80%;
    grid-gap: 2rem;
    align-items: center;
}

.step-one-2 h3 {
    grid-column: 1 / 3;
}

.step-one-2 h4 {
    font-size: 1.3rem;
}

.step-one-3 {
    height: auto;
    padding: 2rem;
    text-align: left;
    background: var(--dark-grey);
    color: var(--light-grey);
    margin-bottom: 5rem;
}

/*------STEP TWO-------*/

.step-two p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.step-two p:last-child {
    margin-bottom: 0;
}

.step-two li {
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 1rem;
    text-align: justify;
}

.step-two li:first-child {
    font-size: 1.2rem;
    font-weight: bold;
    list-style: none;
    margin-bottom: 1.3rem;
}

.step-two-1 {
    height: auto;
    padding: 2rem;
    background: var(--light-grey);
    margin-bottom: 5rem;
}

.step-two-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
}

/*-------STEP THREE------*/
.step-three p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.step-three-1 {
    height: auto;
    padding: 2rem;
    background: var(--light-grey);
    margin-bottom: 3rem;
}

.step-three-2 {
    height: auto;
    padding: 2rem 0 3rem 0;
    text-align: center;
    border-bottom: 1px solid var(--light-grey);
}

.step-three-2 h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/*------FINAL WORDS------*/

.final-words {
    margin-top: 25rem;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
}

/*------FOOTER------*/

footer {
    padding: 5px 0;
    background: var(--dark-grey);
    color: var(--light-grey);
    text-align: center;
}

/*-----------MOBILE-----------*/

@media screen and (max-width: 880px) {
/*-----------THREE STEPS-----------*/
.three-steps {
    height: auto;
    margin: 3rem 1rem;
    padding: 3rem;
    border: var(--light-grey) 1px solid;
    grid-template: 3rem 1fr 1fr 1fr / 100%;
    grid-gap: 1rem;
}

.three-steps-heading {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: end;
    font-size: 2.2rem;
    font-weight: 300;
    margin: 2.5rem 0;
}

.three-steps h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.three-steps-column h3 {
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.three-steps-column {
    justify-self: center;
    font-size: 1.2rem;
    line-height: 1.3;
}
}

@media screen and (max-width: 640px) {

    /*------DOCUMENT------*/
    .container {
        padding: 0 1.5rem;
    }

    /*------HERO------*/
    .hero {
        height: 15rem;
    }

    .hero h1 .main-title {
        font-size: 3rem;
    }

    /*------DESCRIPTION------*/
    .site-description {
        height: auto;
        padding: 3rem 1.5rem;
    }

    .site-description p {
        font-size: 1.2rem;
        text-align: justify;
    }

    /*------DEFINITION------*/
    .definition {
        height: auto;
        padding: 5rem 0;
    }

    .definition li {
        margin-bottom: 1rem;
    }

/*-----------THREE STEPS-----------*/
.three-steps {
    height: auto;
    margin: 3rem 1rem;
    padding: 3rem;
    border: var(--light-grey) 1px solid;
    grid-template: 3rem 1fr 1fr 1fr / 100%;
    grid-gap: 1rem;
}

.three-steps-heading {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: end;
    font-size: 2.2rem;
    font-weight: 300;
    margin: 2.5rem 0;
}

.three-steps h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.three-steps-column h3 {
    font-size: 1.3rem;
    margin-bottom: .3rem;
}

.three-steps-column {
    justify-self: center;
    font-size: 1.2rem;
    line-height: 1.3;
}
}

/*------STEP SETUP------*/

.step {
    padding-top: 0;
}

.sticky-header {
    position: sticky;
    top: 0;
    padding: 5px 0 10px 10px;
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    background: #fff;
    border-bottom: var(--light-grey) 2px solid;
}

/*------STEP ONE------*/
.step-one p {
    text-align: justify;
    font-size: 1.2rem;
}

.step-one-1 {
    height: auto;
    padding: 2rem;
    text-align: center;
    background: var(--light-grey);
    margin-bottom: 3rem;
}

.step-one-2 {
    grid-template: 2rem repeat(3, 4fr 3fr) / 100%;
    grid-gap: 0;
    align-items: center;
    margin-bottom: 2rem;
}

.step-one-2 h3 {
    font-size: 1.5rem;
    text-align: center;
    grid-column: 1 / 2;
}

.step-one-2 h4 {
    font-size: 1.3rem;
}

.step-one-3 {
    height: auto;
    padding: 2rem;
    text-align: left;
    background: var(--dark-grey);
    color: var(--light-grey);
    margin-bottom: 5rem;
}

/*------STEP TWO-------*/

.step-two li {
    text-align: left;
}

.step-two li:first-child {
    font-size: 2rem;
}

.step-two-2 {
    grid-template-columns: 100%;
    grid-column-gap: 0;
}

.step-two-2 ul:first-child {
    margin-bottom: 2rem;
}

/*-------STEP THREE------*/

.step-three-1 {
    margin-bottom: 1rem;
}

.step-three-2 {
    height: auto;
    padding: 2rem 0;
}

.step-three-2 h3 {
    text-align: left;
}

.step-three-2 p {
    text-align: justify;
}

.step-three-2 h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

}