/*------DOCUMENT------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 3rem;
    max-width: 1180px;
    overflow: hidden;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main-title,
.sub-title {
    display: block;
}

/*------CSS VARIABLES------*/
:root {
    --light-grey: #D3D3D3;
    --dark-grey: #4b4a4a;
    --link-color: #948080;
    --link-color-hover: #534747;
}

/*------HERO------*/

.hero {
    height: 100vh;
    text-align: center;
}

.hero h1 .main-title {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: .5rem;
}

.hero h1 .subtitle {
    font-weight: 300;
    letter-spacing: .15rem;
}

/*------DESCRIPTION------*/

.site-description {
    height: 30rem;
    text-align: center;
    border-top: var(--light-grey) 1px solid;
}

.site-description h2 {
    margin-bottom: 2rem;
}

.site-description p {
    line-height: 1.5;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}




/*-----------MOBILE-----------*/

@media screen and (max-width: 580px) {

    /*------DOCUMENT------*/
    .container {
        padding: 0 1.5rem;
    }

    /*------HERO------*/
    .hero {
        height: 15rem;
    }

    .hero h1 .main-title {
        font-size: 3rem;
    }

    /*------DESCRIPTION------*/
    .site-description {
    height: auto;
    padding: 3rem 1.5rem;
    }

    .site-description p {
        font-size: 1.2rem;
        text-align: justify;
    }
}